<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <queries>
        <package android:name="com.google.android.gm" />
    </queries>

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="MIGO"
        android:theme="@style/Theme.Material3.DayNight.NoActionBar"
        android:supportsRtl="true">

        <!-- 1. SPLASH SCREEN: SATU-SATUNYA PINTU MASUK (LAUNCHER) -->
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 2. MAIN ACTIVITY: HAPUS INTENT FILTER LAMA -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <!-- 3. LOGIN & REGISTER -->
        <activity
            android:name=".LoginActivity"
            android:exported="false" />

        <activity
            android:name=".RegisterActivity"
            android:exported="false" />

        <!-- 4. AKTIVITAS PENDUKUNG -->
        <activity
            android:name=".StatsActivity"
            android:exported="false" />

        <activity
            android:name=".CategoryActivity"
            android:exported="false" />

        <activity
            android:name=".CalendarActivity"
            android:exported="false"
            android:label="Kalender Tugas"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <!-- RECEIVER & PROVIDER -->
        <receiver android:name=".AlarmReceiver" android:exported="true"/>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>